body {
    background-color: #1e1e2f;
}

nav {
    padding: 10px;
    background-color: #3b0479;
    text-align: center;
}

nav a {

    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    transition: background-color 0.50s;
    padding: 8px;

}

nav a:hover {
    background-color: rgb(228, 138, 250);
    border-radius: 100px;
    box-sizing: border-box;
}

h2 {
    text-align: center;
    color: rgb(205, 155, 247);
    font-family: sans-serif;
    font-style: oblique;

}

div {
    text-align: center;
}

h3 {

    text-align: center;
    color: azure;
    font-family: sans-serif;
}

span {
    font-weight: bolder;
}

.playlist {

    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;




}

.play {
    background-color: #3e226b;
    color: white;
    width: 340px;
    padding: 8px;
    border-radius: 100px;
    display: inline-block;


}

.play span {
    display: inline-block;
    margin-top: 20px;
    font-family: sans-serif;
    font-style: italic;
    margin-top: 10px;
}

.btn {

    flex: 1 0 100px;
    background-color: #9f21beaf;
    border: 0;
    padding: 10px;
    text-align: center;
    border-radius: 100px;
    transition: transform 0.2s ease;
    color: aliceblue;
    font-family: sans-serif;
    float: right;

}

.btn:hover {
    transform: scale(1.29);
}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    /* Permite que as galerias
    quebrem para a próxima linha */
    justify-content: center;
    max-width: 100%;

}

div.gallery {
    font-family: sans-serif;
    font-weight: 780;
    font-size: 13px;
    color: rgb(255, 255, 255);
    margin: 8px;
    border: 4px solid #9f21beaf;
    width: 140px;
    border-radius: 20px;
    background-color: rgb(56, 42, 136);
    transition: ease-in-out 0.1s;
    text-align: center;
}

div.gallery img {
    width: 100%;
    height: 140px;
    object-fit: cover;
    border-radius: 15px;
    /* Ajusta a imagem para
    cobrir o espaço disponível sem distorção */
}

div.desc {
    text-align: center;
    padding: 15px;
}

.gallery:hover {
    transform: scale(0.90)
}

.billie {

    width: 165px;
    height: 180px;
    border-radius: 10%;
    margin: 20px;
    filter: sepia();

}

.nliga {

    width: 250px;
    height: 180px;
    border-radius: 10%;
    margin: 20px;
    filter: saturate(0);

}

.oscar {

    width: 155px;
    height: 180px;
    border-radius: 10%;
    margin: 20px;
    filter: saturate(0);

}

.happy {

    width: 180px;
    height: 180px;
    border-radius: 10%;
    margin: 20px;
    filter: saturate(3)
}

.boneco {

    width: 150px;
    height: 180px;
    border-radius: 10%;
    margin: 20px;
    filter: grayscale(100%);

}

footer {
    background-color: #3b0479;
    color: white;
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    padding: 10px 2px;
    font-weight: 700;
}